@media only screen and (max-width: 600px) {
    img {
      margin-right: 150px;
    }
    .carousel-inner img {
        width: 100%;
        height: 300px;
      }
  }
.menustyle{
    justify-content:flex-end;
}
.carousel-inner img {
    width: 100%;
    height: 600px;
  }
  .box{
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 120px;
    background-color: black;
    padding: 5%;
    color: white;
    opacity: 0.8;
  }
  #enroll{
    background-image: url("images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    top: 0;
    bottom: 0;
    }
    #mentor{
      background-image: url("images/enroll.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      top: 0;
      bottom: 0;
    }
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    
