.dabba{
    margin-left: 25em;
    margin-top: 10em;
    margin-right: 25em;
    background-color: black;
    padding: 5%;
    color: white;
    opacity: 0.8;
  }
  h3{
    text-align: center;
  }
  body{
    background-color: #649191;
  }
  